label{
	color:red;
	background:#ddd;
	font-size:1.25em;
}

.gender{
	color:blue;
	background:#ddd;
}
input[type="text"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="number"]{
	width:300px;
	padding:10px 10px;
	color:green;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="email"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="password"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="date"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="color"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
input[type="file"]{
	width:300px;
	padding:10px 10px;
	color:blue;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
select{
		width:300px;
	padding:10px 10px;
	color:green;
	background:#ddd;
	border:1px solid red;
	border-radius:5px;
}
select option{
	background:violet;
	color:#000;
}
.india{
	background:#000;
	color:#fff;
}
input[type="submit"] {
    font-size: 24px;
    background: #ddd;
    border-radius: 5px;
    margin-right:20px;
}
input[type="reset"] {
    font-size: 24px;
    background: #ddd;
    border-radius: 5px;
}