
	
ul{
	list-style-type:none;
}

ul li{float:left;
	margin-right:30px;
	
}

ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	background:#f00;
	border-radius:5px;
}
ul li a:hover{
	background:#00f;
}