
.square{
	margin:50px auto;
}
.square{
	width:100px;
	height:100px;
	background-color:red;
	border:10px solid yellow; 
	transition:2s;
}
.square:hover{
	width:200px;
	height:200px;
	background-color:green;
	border:20px lolid yollow;
	
}
